// variables - переменные
@import "./variables/variables";

// utils
@import "./utils/mixins";
@import "./utils/visually-hidden";
@import "./utils/btn-placeholder";

// базовые стили
@import "./base/base";

// components
@import "./components/container";
@import "./components/btn";
@import "./components/form/module";
@import "./components/header";
@import "./components/hero";
@import "./components/features";
@import "./components/works";
@import "./components/team";
@import "./components/btn";
@import "./components/social-icons";
@import "./components/clients";
@import "./components/footer";
@import "./components/footer-subscribe";
@import "./components/portfolio";
