/*особенности*/

.features__list {
  @media screen and (max-width: 479px) {
    display: block;
    max-width: 100%;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features__item {
  width: 100%;
  margin-right: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    // margin-bottom: 30px;
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__title {
  @include font-style(14px, 700, 1.14, uppercase, 0.03em);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  @include font-style(14px, 400, 1.71, none, 0.03em);
  color: var(--basic-text-color);

  // margin-bottom: 30px;
}

.features__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  // width: 100%;
  height: 120px;
  background-color: var(--basic-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}
