@mixin font-style($size, $weight, $height, $transform, $letter-spacing) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  text-transform: $transform;
  letter-spacing: $letter-spacing;
}
